body
        {
            padding: 0;
            margin:0;
            background:rgba(0, 0, 0, 0.311)
        }
        h1
        {
            font-size: 5em;
            margin:0;
            padding:0;
            text-align: center;
            font-family: 'Cambria'
        }
        
        
        
        h1{
            background-color:rgba(57, 29, 29, 0.733);

    color:rgb(215, 105, 27)
}
p{
    color:rgb(255, 255, 8)
}


nav ul
{
    position: relative;
    display: flex;
    gap: 300px;
}


html {
    max-width: 800px;
    margin: 0px;
  }
    


aside ul
{
 width: 30%;
 float: right;
}


.unordered_list {
    display: flex;
    justify-content: space-around;
    list-style: none;
  }

  .artical_headings_padding {
    padding-top: 50px;
  }



  .c-cyan {
    border: 3px solid var(--c-cyan);
  }


